{
  "swagger": "2.0",
  "info": {
    "title": "SA2 MVP API Specification",
    "description": "API specification for SA2 MVP platform, covering catalog, contract, financial, and placement domains.",
    "version": "1.0.0",
    "contact": {
      "name": "SA2 Team",
      "email": "team@sa2.com"
    }
  },
  "host": "api.sa2.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/admin/products": {
      "get": {
        "tags": ["Catalog - Admin"],
        "summary": "Get all products",
        "description": "Retrieve a list of all products with optional filtering and pagination.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Filter products by status"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Catalog_PaginatedResult"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "tags": ["Catalog - Admin"],
        "summary": "Create a new product",
        "description": "Create a new product with detailed information.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog_CreateProductDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Product created successfully",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}": {
      "get": {
        "tags": ["Catalog - Admin"],
        "summary": "Get product by ID",
        "description": "Retrieve detailed information about a specific product.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "patch": {
        "tags": ["Catalog - Admin"],
        "summary": "Update product",
        "description": "Update an existing product's information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog_UpdateProductDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/publish": {
      "post": {
        "tags": ["Catalog - Admin"],
        "summary": "Publish product",
        "description": "Publish a product to make it available for purchase.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product published successfully",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/unpublish": {
      "post": {
        "tags": ["Catalog - Admin"],
        "summary": "Unpublish product",
        "description": "Unpublish a product to make it unavailable for purchase.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product unpublished successfully",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/revert-to-draft": {
      "post": {
        "tags": ["Catalog - Admin"],
        "summary": "Revert product to draft",
        "description": "Revert a published product back to draft status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product reverted to draft successfully",
            "schema": {
              "$ref": "#/definitions/Catalog_Product"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/items": {
      "post": {
        "tags": ["Catalog - Admin"],
        "summary": "Add item to product",
        "description": "Add an item to a product.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog_AddProductItemDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Item added to product successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/items/{itemId}": {
      "delete": {
        "tags": ["Catalog - Admin"],
        "summary": "Remove item from product",
        "description": "Remove an item from a product.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product item ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Item removed from product successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/items/sort": {
      "patch": {
        "tags": ["Catalog - Admin"],
        "summary": "Update product item sort order",
        "description": "Update the sort order of product items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "itemId": {
                    "type": "string",
                    "description": "Product item ID"
                  },
                  "sortOrder": {
                    "type": "integer",
                    "description": "New sort order"
                  }
                },
                "required": ["itemId", "sortOrder"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product item sort order updated successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/products/{id}/snapshot": {
      "get": {
        "tags": ["Catalog - Admin"],
        "summary": "Create product snapshot",
        "description": "Create a snapshot of a product for contract creation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product snapshot created successfully",
            "schema": {
              "$ref": "#/definitions/Contract_ProductSnapshot"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts": {
      "get": {
        "tags": ["Contract - Admin"],
        "summary": "Get all contracts",
        "description": "Retrieve a list of all contracts with optional filtering and pagination.",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "type": "string",
            "description": "Filter contracts by student ID"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Filter contracts by status"
          },
          {
            "name": "productId",
            "in": "query",
            "type": "string",
            "description": "Filter contracts by product ID"
          },
          {
            "name": "signedAfter",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Filter contracts signed after a specific date"
          },
          {
            "name": "signedBefore",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Filter contracts signed before a specific date"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contract_PaginatedResult"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Create a new contract",
        "description": "Create a new contract for a student.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract_CreateContractDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contract created successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}": {
      "get": {
        "tags": ["Contract - Admin"],
        "summary": "Get contract by ID",
        "description": "Retrieve detailed information about a specific contract.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "patch": {
        "tags": ["Contract - Admin"],
        "summary": "Update contract",
        "description": "Update an existing contract's information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract_UpdateContractDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract updated successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/activate": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Activate contract",
        "description": "Activate a contract to make it usable.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract activated successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/sign": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Sign contract",
        "description": "Sign a contract to make it official.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract signed successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/suspend": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Suspend contract",
        "description": "Suspend a contract with a reason.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Suspension reason"
                }
              },
              "required": ["reason"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract suspended successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/resume": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Resume contract",
        "description": "Resume a suspended contract.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract resumed successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/complete": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Complete contract",
        "description": "Mark a contract as completed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract completed successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/{id}/terminate": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Terminate contract",
        "description": "Terminate a contract with a reason.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Contract ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Termination reason"
                }
              },
              "required": ["reason"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract terminated successfully",
            "schema": {
              "$ref": "#/definitions/Contract_Contract"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/consume": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Consume service",
        "description": "Consume a service from a contract.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract_ConsumeServiceDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service consumed successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/contracts/amendment-ledger": {
      "post": {
        "tags": ["Contract - Admin"],
        "summary": "Add amendment ledger",
        "description": "Add an amendment ledger entry to a contract.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract_AddAmendmentLedgerDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Amendment ledger added successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/mentor-appeals": {
      "get": {
        "tags": ["Financial - Admin"],
        "summary": "Get all mentor appeals",
        "description": "Retrieve a list of all mentor appeals with optional filtering and pagination.",
        "parameters": [
          {
            "name": "mentorUserId",
            "in": "query",
            "type": "string",
            "description": "Filter appeals by mentor user ID"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Filter appeals by status"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "tags": ["Financial - Admin"],
        "summary": "Create a new mentor appeal",
        "description": "Create a new mentor appeal.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Financial_CreateAppealDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Mentor appeal created successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/mentor-appeals/{id}": {
      "get": {
        "tags": ["Financial - Admin"],
        "summary": "Get mentor appeal by ID",
        "description": "Retrieve detailed information about a specific mentor appeal.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Mentor appeal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/mentor-appeals/{id}/approve": {
      "patch": {
        "tags": ["Financial - Admin"],
        "summary": "Approve mentor appeal",
        "description": "Approve a mentor appeal.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Mentor appeal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Mentor appeal approved successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/mentor-appeals/{id}/reject": {
      "patch": {
        "tags": ["Financial - Admin"],
        "summary": "Reject mentor appeal",
        "description": "Reject a mentor appeal with a reason.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Mentor appeal ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Financial_RejectAppealDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mentor appeal rejected successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/settlements": {
      "get": {
        "tags": ["Financial - Admin"],
        "summary": "Get all settlements",
        "description": "Retrieve a list of all settlements with optional filtering.",
        "parameters": [
          {
            "name": "mentorUserId",
            "in": "query",
            "type": "string",
            "description": "Filter settlements by mentor user ID"
          },
          {
            "name": "startDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Filter settlements by start date"
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Filter settlements by end date"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/financial/settlements/{id}": {
      "get": {
        "tags": ["Financial - Admin"],
        "summary": "Get settlement by ID",
        "description": "Retrieve detailed information about a specific settlement.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Settlement ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-positions": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get all job positions",
        "description": "Retrieve a list of all job positions with optional pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Placement_PaginatedJobPositions"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "tags": ["Placement - Admin"],
        "summary": "Create a new job position",
        "description": "Create a new job position.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Placement_SubmitApplicationDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Job position created successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-positions/{id}": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get job position by ID",
        "description": "Retrieve detailed information about a specific job position.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job position ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Placement_JobPosition"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "patch": {
        "tags": ["Placement - Admin"],
        "summary": "Update job position",
        "description": "Update an existing job position.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job position ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Placement_UpdateApplicationStatusDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job position updated successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-applications": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get all job applications",
        "description": "Retrieve a list of all job applications with optional pagination.",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "type": "string",
            "description": "Filter by student ID"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Filter by application status"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Placement_PaginatedJobApplications"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-applications/{id}": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get job application by ID",
        "description": "Retrieve detailed information about a specific job application.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job application ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Placement_JobApplication"
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-applications/{id}/status": {
      "patch": {
        "tags": ["Placement - Admin"],
        "summary": "Update job application status",
        "description": "Update the status of a job application.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job application ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Placement_UpdateApplicationStatusDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job application status updated successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-applications/{id}/history": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get job application status history",
        "description": "Retrieve the status history of a job application.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job application ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/job-applications/{id}/rollback": {
      "patch": {
        "tags": ["Placement - Admin"],
        "summary": "Rollback job application status",
        "description": "Rollback the status of a job application to a previous state.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Job application ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Placement_RollbackDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job application status rolled back successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/rules": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get all configuration rules",
        "description": "Retrieve a list of all configuration rules with optional pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "integer",
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "tags": ["Placement - Admin"],
        "summary": "Create a new configuration rule",
        "description": "Create a new configuration rule.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Rule name"
                },
                "description": {
                  "type": "string",
                  "description": "Rule description"
                },
                "conditions": {
                  "type": "object",
                  "description": "Rule conditions"
                },
                "actions": {
                  "type": "object",
                  "description": "Rule actions"
                }
              },
              "required": ["name", "conditions", "actions"]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Configuration rule created successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/admin/placement/rules/{id}": {
      "get": {
        "tags": ["Placement - Admin"],
        "summary": "Get configuration rule by ID",
        "description": "Retrieve detailed information about a specific configuration rule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Configuration rule ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "patch": {
        "tags": ["Placement - Admin"],
        "summary": "Update configuration rule",
        "description": "Update an existing configuration rule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Configuration rule ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Rule name"
                },
                "description": {
                  "type": "string",
                  "description": "Rule description"
                },
                "conditions": {
                  "type": "object",
                  "description": "Rule conditions"
                },
                "actions": {
                  "type": "object",
                  "description": "Rule actions"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration rule updated successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      },
      "delete": {
        "tags": ["Placement - Admin"],
        "summary": "Delete configuration rule",
        "description": "Delete a configuration rule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Configuration rule ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Configuration rule deleted successfully"
          }
        },
        "security": [{ "Bearer": [] }]
      }
    }
  },
  "definitions": {
    "Catalog_PaginatedResult": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Catalog_Product"
          }
        },
        "total": {
          "type": "integer"
        },
        "page": {
          "type": "integer"
        },
        "pageSize": {
          "type": "integer"
        }
      }
    },
    "Catalog_Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Product ID"
        },
        "name": {
          "type": "string",
          "description": "Product name"
        },
        "code": {
          "type": "string",
          "description": "Product code"
        },
        "description": {
          "type": "string",
          "description": "Product description"
        },
        "coverImage": {
          "type": "string",
          "description": "Product cover image URL"
        },
        "targetUserPersonas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Target user personas for this product"
        },
        "price": {
          "type": "string",
          "description": "Product price stored as string for decimal precision"
        },
        "currency": {
          "type": "string",
          "description": "Currency code (e.g., USD, CNY)"
        },
        "marketingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Marketing labels for this product"
        },
        "status": {
          "type": "string",
          "description": "Product status (e.g., draft, published, unpublished)"
        },
        "publishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Date when product was published"
        },
        "unpublishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Date when product was unpublished"
        },
        "metadata": {
          "type": "object",
          "properties": {
            "features": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product features"
            },
            "faqs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "FAQ question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "FAQ answer"
                  }
                }
              },
              "description": "Frequently asked questions"
            },
            "deliverables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product deliverables"
            },
            "duration": {
              "type": "string",
              "description": "Product duration"
            },
            "prerequisites": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product prerequisites"
            }
          },
          "description": "Additional product metadata"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        }
      },
      "required": ["id", "name", "code", "price", "currency", "status", "createdAt", "updatedAt", "createdBy"]
    },
    "Catalog_CreateProductDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Product name"
        },
        "code": {
          "type": "string",
          "description": "Product code"
        },
        "description": {
          "type": "string",
          "description": "Product description"
        },
        "coverImage": {
          "type": "string",
          "description": "Product cover image URL"
        },
        "targetUserPersonas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Target user personas for this product"
        },
        "price": {
          "type": "string",
          "description": "Product price stored as string for decimal precision"
        },
        "currency": {
          "type": "string",
          "description": "Currency code (e.g., USD, CNY)"
        },
        "marketingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Marketing labels for this product"
        },
        "status": {
          "type": "string",
          "description": "Product status (e.g., draft, published, unpublished)"
        },
        "metadata": {
          "type": "object",
          "properties": {
            "features": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product features"
            },
            "faqs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "FAQ question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "FAQ answer"
                  }
                }
              },
              "description": "Frequently asked questions"
            },
            "deliverables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product deliverables"
            },
            "duration": {
              "type": "string",
              "description": "Product duration"
            },
            "prerequisites": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product prerequisites"
            }
          },
          "description": "Additional product metadata"
        }
      },
      "required": ["name", "code", "price", "currency", "status"]
    },
    "Catalog_UpdateProductDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Product name"
        },
        "code": {
          "type": "string",
          "description": "Product code"
        },
        "description": {
          "type": "string",
          "description": "Product description"
        },
        "coverImage": {
          "type": "string",
          "description": "Product cover image URL"
        },
        "targetUserPersonas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Target user personas for this product"
        },
        "price": {
          "type": "string",
          "description": "Product price stored as string for decimal precision"
        },
        "currency": {
          "type": "string",
          "description": "Currency code (e.g., USD, CNY)"
        },
        "marketingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Marketing labels for this product"
        },
        "status": {
          "type": "string",
          "description": "Product status (e.g., draft, published, unpublished)"
        },
        "metadata": {
          "type": "object",
          "properties": {
            "features": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product features"
            },
            "faqs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "FAQ question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "FAQ answer"
                  }
                }
              },
              "description": "Frequently asked questions"
            },
            "deliverables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product deliverables"
            },
            "duration": {
              "type": "string",
              "description": "Product duration"
            },
            "prerequisites": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Product prerequisites"
            }
          },
          "description": "Additional product metadata"
        }
      }
    },
    "Catalog_AddProductItemDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Product item name"
        },
        "code": {
          "type": "string",
          "description": "Product item code"
        },
        "description": {
          "type": "string",
          "description": "Product item description"
        },
        "price": {
          "type": "string",
          "description": "Product item price stored as string for decimal precision"
        },
        "sortOrder": {
          "type": "integer",
          "description": "Product item sort order"
        }
      },
      "required": ["name", "code"]
    },
    "Contract_PaginatedResult": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contract_Contract"
          }
        },
        "total": {
          "type": "integer"
        },
        "page": {
          "type": "integer"
        },
        "pageSize": {
          "type": "integer"
        }
      }
    },
    "Contract_Contract": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Contract ID"
        },
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "productId": {
          "type": "string",
          "description": "Product ID"
        },
        "productSnapshot": {
          "$ref": "#/definitions/Contract_ProductSnapshot"
        },
        "title": {
          "type": "string",
          "description": "Contract title"
        },
        "status": {
          "type": "string",
          "description": "Contract status"
        },
        "signedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract signing date"
        },
        "activatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract activation date"
        },
        "suspendedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract suspension date"
        },
        "suspendedReason": {
          "type": "string",
          "description": "Reason for suspension"
        },
        "resumedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract resumption date"
        },
        "terminatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract termination date"
        },
        "terminatedReason": {
          "type": "string",
          "description": "Reason for termination"
        },
        "completedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract completion date"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        },
        "updatedBy": {
          "type": "string",
          "description": "Last updater ID"
        }
      }
    },
    "Contract_ProductSnapshot": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Product ID"
        },
        "name": {
          "type": "string",
          "description": "Product name"
        },
        "code": {
          "type": "string",
          "description": "Product code"
        },
        "price": {
          "type": "string",
          "description": "Product price at contract creation"
        },
        "currency": {
          "type": "string",
          "description": "Currency code"
        },
        "metadata": {
          "type": "object",
          "description": "Product metadata at contract creation"
        }
      }
    },
    "Contract_CreateContractDto": {
      "type": "object",
      "properties": {
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "productId": {
          "type": "string",
          "description": "Product ID"
        },
        "productSnapshot": {
          "$ref": "#/definitions/Contract_ProductSnapshot"
        },
        "title": {
          "type": "string",
          "description": "Contract title"
        },
        "signedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Contract signing date"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        }
      },
      "required": ["studentId", "productId", "productSnapshot", "createdBy"]
    },
    "Contract_ServiceBalance": {
      "type": "object",
      "properties": {
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "serviceType": {
          "type": "string",
          "description": "Service type"
        },
        "totalQuantity": {
          "type": "integer",
          "description": "Total service quantity"
        },
        "consumedQuantity": {
          "type": "integer",
          "description": "Consumed service quantity"
        },
        "heldQuantity": {
          "type": "integer",
          "description": "Held service quantity"
        },
        "availableQuantity": {
          "type": "integer",
          "description": "Available service quantity"
        }
      }
    },
    "Contract_ConsumeServiceDto": {
      "type": "object",
      "properties": {
        "contractId": {
          "type": "string",
          "description": "Contract ID"
        },
        "serviceType": {
          "type": "string",
          "description": "Service type"
        },
        "quantity": {
          "type": "integer",
          "description": "Quantity to consume"
        },
        "relatedBookingId": {
          "type": "string",
          "description": "Associated booking ID"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        }
      },
      "required": ["contractId", "serviceType", "quantity", "createdBy"]
    },
    "Contract_AddAmendmentLedgerDto": {
      "type": "object",
      "properties": {
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "contractId": {
          "type": "string",
          "description": "Contract ID"
        },
        "serviceType": {
          "type": "string",
          "description": "Service type"
        },
        "ledgerType": {
          "type": "string",
          "description": "Ledger type"
        },
        "quantityChanged": {
          "type": "integer",
          "description": "Quantity changed"
        },
        "reason": {
          "type": "string",
          "description": "Reason for amendment"
        },
        "description": {
          "type": "string",
          "description": "Detailed description"
        },
        "attachments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Attachment URLs"
        },
        "relatedBookingId": {
          "type": "string",
          "description": "Associated booking ID"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        }
      },
      "required": ["studentId", "serviceType", "ledgerType", "quantityChanged", "reason", "createdBy"]
    },
    "Financial_PaginatedPayableLedgers": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Financial_MentorPayableLedger"
          }
        },
        "total": {
          "type": "integer"
        }
      }
    },
    "Financial_MentorPayableLedger": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Ledger ID"
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID (when sourceEntity = 'session')"
        },
        "classId": {
          "type": "string",
          "description": "Class ID (when sourceEntity = 'class')"
        },
        "mentorUserId": {
          "type": "string",
          "description": "Mentor user ID"
        },
        "studentUserId": {
          "type": "string",
          "description": "Student user ID"
        },
        "serviceTypeCode": {
          "type": "string",
          "description": "Service type code"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name"
        },
        "durationHours": {
          "type": "number",
          "description": "Duration in hours"
        },
        "unitPrice": {
          "type": "number",
          "description": "Unit price"
        },
        "totalAmount": {
          "type": "number",
          "description": "Total amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency code"
        },
        "status": {
          "type": "string",
          "description": "Ledger status (pending, settled, adjusted)"
        },
        "settlementId": {
          "type": "string",
          "description": "Settlement ID"
        },
        "billingType": {
          "type": "string",
          "description": "Billing type (session, package)"
        },
        "billingId": {
          "type": "string",
          "description": "Billing ID"
        },
        "adjustmentReason": {
          "type": "string",
          "description": "Adjustment reason"
        },
        "originalLedgerId": {
          "type": "string",
          "description": "Original ledger ID for adjustments"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": true,
          "description": "Additional metadata"
        }
      }
    },
    "Financial_PackageBilling": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Billing ID"
        },
        "contractId": {
          "type": "string",
          "description": "Contract ID"
        },
        "mentorUserId": {
          "type": "string",
          "description": "Mentor user ID"
        },
        "studentUserId": {
          "type": "string",
          "description": "Student user ID"
        },
        "serviceTypeCode": {
          "type": "string",
          "description": "Service type code"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name"
        },
        "quantity": {
          "type": "integer",
          "description": "Service quantity"
        },
        "unitPrice": {
          "type": "number",
          "description": "Unit price"
        },
        "totalAmount": {
          "type": "number",
          "description": "Total amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency code"
        },
        "status": {
          "type": "string",
          "description": "Billing status (pending, completed, cancelled)"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": true,
          "description": "Additional metadata"
        }
      }
    },
    "Financial_MentorPrice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Price ID"
        },
        "mentorUserId": {
          "type": "string",
          "description": "Mentor user ID"
        },
        "serviceTypeCode": {
          "type": "string",
          "description": "Service type code"
        },
        "servicePackageId": {
          "type": "string",
          "description": "Service package ID"
        },
        "price": {
          "type": "number",
          "description": "Price amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency code"
        },
        "status": {
          "type": "string",
          "description": "Price status"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator ID"
        },
        "updatedBy": {
          "type": "string",
          "description": "Last updater ID"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        }
      }
    },
    "Financial_CreateAppealDto": {
      "type": "object",
      "properties": {
        "mentorUserId": {
          "type": "string",
          "description": "Mentor user ID"
        },
        "appealType": {
          "type": "string",
          "description": "Appeal type"
        },
        "description": {
          "type": "string",
          "description": "Appeal description"
        },
        "relatedId": {
          "type": "string",
          "description": "Related ID (e.g., session ID, class ID)"
        },
        "amount": {
          "type": "number",
          "description": "Appeal amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency code"
        }
      },
      "required": ["mentorUserId", "appealType", "description", "amount"]
    },
    "Financial_RejectAppealDto": {
      "type": "object",
      "properties": {
        "rejectionReason": {
          "type": "string",
          "description": "Rejection reason"
        }
      },
      "required": ["rejectionReason"]
    },
    "Placement_PaginatedJobPositions": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Placement_JobPosition"
          }
        },
        "total": {
          "type": "integer"
        },
        "page": {
          "type": "integer"
        },
        "pageSize": {
          "type": "integer"
        }
      }
    },
    "Placement_JobPosition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Job position ID"
        },
        "title": {
          "type": "string",
          "description": "Job title"
        },
        "company": {
          "type": "string",
          "description": "Company name"
        },
        "location": {
          "type": "string",
          "description": "Job location"
        },
        "salaryRange": {
          "type": "string",
          "description": "Salary range"
        },
        "description": {
          "type": "string",
          "description": "Job description"
        },
        "requirements": {
          "type": "string",
          "description": "Job requirements"
        },
        "status": {
          "type": "string",
          "description": "Job status"
        },
        "postedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Posting timestamp"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        }
      }
    },
    "Placement_PaginatedJobApplications": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Placement_JobApplication"
          }
        },
        "total": {
          "type": "integer"
        },
        "page": {
          "type": "integer"
        },
        "pageSize": {
          "type": "integer"
        }
      }
    },
    "Placement_JobApplication": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Application ID"
        },
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "jobId": {
          "type": "string",
          "description": "Job position ID"
        },
        "status": {
          "type": "string",
          "description": "Application status"
        },
        "resumeUrl": {
          "type": "string",
          "description": "Resume URL"
        },
        "coverLetter": {
          "type": "string",
          "description": "Cover letter"
        },
        "appliedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Application timestamp"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp"
        }
      }
    },
    "Placement_SubmitApplicationDto": {
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Job position ID"
        },
        "studentId": {
          "type": "string",
          "description": "Student ID"
        },
        "resumeUrl": {
          "type": "string",
          "description": "Resume URL"
        },
        "coverLetter": {
          "type": "string",
          "description": "Cover letter"
        }
      },
      "required": ["jobId", "studentId"]
    },
    "Placement_UpdateApplicationStatusDto": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "Application ID"
        },
        "status": {
          "type": "string",
          "description": "New application status"
        },
        "reason": {
          "type": "string",
          "description": "Reason for status change"
        }
      },
      "required": ["applicationId", "status"]
    },
    "Placement_RollbackDto": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "Application ID"
        },
        "targetStatus": {
          "type": "string",
          "description": "Target status to rollback to"
        },
        "reason": {
          "type": "string",
          "description": "Reason for rollback"
        }
      },
      "required": ["applicationId", "targetStatus"]
    }
  },
  "tags": [
    {
      "name": "Catalog - Admin",
      "description": "Admin operations for product catalog management"
    },
    {
      "name": "Contract - Admin",
      "description": "Admin operations for contract management"
    },
    {
      "name": "Financial - Admin",
      "description": "Admin operations for financial management"
    },
    {
      "name": "Placement - Admin",
      "description": "Admin operations for placement management"
    }
  ]
}
